$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-primary: 'Roboto', sans-serif;

$color-accent:  rgb(43, 119, 206);
$color-shade-accent: rgb(23, 95, 179);

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
$large-desktop: 1600px;