.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    min-height: 75px;
    background-color: rgb(66, 116, 255);
}

.search-form {
    position: relative;
    margin: 0;
    padding: 0;
}

.search-form input {
    display: block;
    margin: 0;
    border-radius: 5px;
    height: 40px;
    min-width: 350px;
    padding: 10px;
    padding-right: 45px;

    border: none;
    outline: none;
}

.search-form button {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    border-radius: 0px 5px 5px 0px;
    background-color: rgb(224, 224, 224);
    font-size: 18px;

    border: none;
    outline: none;
}

.search-icon {
    fill: rgb(41, 41, 41);
}